// sass-lint:disable no-important, placeholder-in-extend

p {
  margin: 0 0 12px;
}

input, a, button, textarea {
  &:focus {
    @extend %elementfocus;
  }
}

label[for*='disabled'] {
  color: darken($silver, 15%);
}

// FORMELEMENTS
/////////////////////////////////////////

@mixin button {
  $rgba: rgba(0, 0, 0, 0.3);
  background-color: $button-bg-color;
  border: 0;
  border-radius: pxtoem(3px);
  box-shadow: inset 0 pxtoem(-2px) $rgba;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $default-font;
  font-style: normal;
  line-height: pxtoem($default-line-height / 1.5);
  padding: pxtoem(5px, 8px, 5px, 8px);
  text-decoration: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  vertical-align: baseline;

  &:hover {
    background-color: lighten($button-bg-color, 10%);
    text-decoration: none;
  }

  &:visited {
    color: $white;
  }

  &.disabled:hover,
  &.disabled {
    $rgba: rgba(0, 0, 0, 0.3);
    background-color: lighten($silver, 15%);
    box-shadow: inset 0 pxtoem(-1px) $rgba;
    color: darken($silver, 15%);
    pointer-events: none;
  }
}

// BUTTONS
button,
input[type='submit'],
input[type='button'],
a.button {
  @include button;

  margin-right: pxtoem(3px);
}

a.button:hover {
  color: $white;
}

label.select.prettify,
div.password-suggestions,
div.messages,
input, textarea, fieldset {
  border-radius: pxtoem(2px);
}

span.form-required {
  color: $error-red;
  font-weight: bold;
}

// TEXT INPUTS
input, textarea {
  border: pxtoem(1px) solid normal-color($bodycopy-link-colors);
  padding: pxtoem(5px, 8px, 5px, 8px);

  &.error {
    border: pxtoem(1px) solid $error-red;
  }

  .form-item & {
    &.error {
      border: pxtoem(1px) solid $error-red;
    }
  }
}

input[type='file'] {
  padding: pxtoem(1px, 0, 1px, 1px);
}

input[disabled] {
  background-color: lighten($silver, 15%);
  border: pxtoem(1px) solid $silver;
}

fieldset {
  margin-top: pxtoem(10px);
  padding: pxtoem(3px, 10px, 12px, 10px);

  legend {
    padding: pxtoem(0, 5px);
    $white-space: nowrap;
  }

  html.js & {
    &.collapsible {
      .fieldset-legend {
        background-image: none;
        padding-left: 0;

        &:before {
          @include arrow('down');

          display: inline-block;
          font-size: perc(12px);
          height: 14px;
          width: 14px;
        }
      }

      &.collapsed {
        border-left: pxtoem(1px) solid transparent;

        .fieldset-legend {
          &:before {
            transform: rotate(-90deg);

            vertical-align: 3px;
          }
        }
      }

      a.fieldset-title {
        padding-left: pxtoem(3px);
      }
    }
  }
}

.password-confirm > span {
  font-weight: bold;
  text-transform: uppercase;
}

.password-indicator {
  border-radius: pxtoem(2px);

  div {
    background-color: $message-status;

    border-radius: pxtoem(2px);
  }
}

// MESSAGES
div.messages {
  background-image: none;
  border: 0;
  color: $white;
  padding: pxtoem(10px);

  .krumo-root {
    color: $black;
  }

  > ul {
    display: inline-block;
    margin: 0;
  }

  &:before {
    float: left;
    margin-top: pxtoem(1px);
    padding-right: pxtoem(10px);
  }

  &.warning {
    background-color: $message-warning;

    &:before {
      @include icomoon('warning');
    }
  }

  &.status {
    background-color: $message-status;

    &:before {
      @include icomoon('status');
    }
  }

  &.error {
    background-color: $message-error;

    &:before {
      @include icomoon('error');
    }
  }
}

// INPUT CHECKBOXES
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: $checked-color;

  &:before {
    color: $checked-color;
  }
}

input {
  &[type='radio'],
  &[type='checkbox'] {
    @include opacity(0);

    cursor: pointer;
    position: absolute;

    & + label {
      cursor: pointer;
    }

    & + label:before {
      @include icon('unchecked');

      background-color: $white;
      border-radius: 5px;
      color: $silver;
      margin-right: $icon-spacing;
    }

    &:focus + label {
      @extend %elementfocus;
    }

    &.hide-outline:focus + label {
      outline: none !important;
    }

    &.error + label:before {
      color: $error-red;
    }

    html.lt-ie9 & {
      @include opacity(1);

      background-color: transparent;
      position: relative;

      &:focus,
      &:active {
        border: 0;
        outline: none;
      }

      & + label:before {
        content: '';
        display: none;
      }
    }
  }

  &[type='checkbox'] {
    &:checked + label:before {
      @include icon('checked');
    }
  }

  &[type='radio'] {
    &:checked + label:before {
      @include icon('checked-dot');
    }
  }
}

// FILE INPUT BOXES
label.fileinput.prettify {
  border: pxtoem(1px) solid normal-color($bodycopy-link-colors);
  border-radius: pxtoem(2px);
  display: inline-block;
  font-weight: normal;
  height: pxtoem(30px);
  min-width: 280px;
  position: relative;

  input[type='file'] {
    max-width: 280px;
  }

  &.error {
    border: pxtoem(1px) solid $error-red;
  }

  &.focus {
    @extend %elementfocus;
  }

  &.disabled {
    background-color: lighten($silver, 20%);
    border: pxtoem(1px) solid $silver;
    color: darken($silver, 15%);
    pointer-events: none;

    a.button {
      $rgba: rgba(0, 0, 0, 0.3);
      background-color: lighten($silver, 15%);
      box-shadow: inset 0 pxtoem(-1px) $rgba;
      color: darken($silver, 15%);
      pointer-events: none;
    }
  }

  > div {
    display: table;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 100%;

    > span {
      display: table-cell;
    }

    span.filetext {
      color: darken($silver, 15%);
      max-width: 100px;
      overflow: hidden;
      padding: pxtoem(0, 8px);
      text-overflow: ellipsis;
      width: 100%;

      &.selected {
        color: inherit;
      }
    }
  }
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

// SELECT BOXES
label.select.prettify {
  @extend a.button;

  background-color: $link-button-bg-color;
  display: inline-block;
  font-weight: normal;
  margin-right: 0;
  position: relative;

  &.focus {
    @extend %elementfocus;
  }

  &.error {
    &:after {
      border: pxtoem(1px) solid $error-red;
      border-radius: pxtoem(2px);
      bottom: -2px;
      content: '';
      left: -2px;
      position: absolute;
      right: -2px;
      top: -2px;
    }

    &.focus {
      outline-offset: 4px;
    }
  }

  &:hover {
    background-color: lighten($link-button-bg-color, 10%);
    box-shadow: inset 0 pxtoem(-2px) $link-button-bg-color;
  }

  select {
    border: 1px solid transparent;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
      @include arrow('down');

      font-size: 70%;
      padding-left: pxtoem(10px);
      vertical-align: pxtoem(1px);
    }
  }

  option {
    html.lt-ie9 & {
      width: 100%;
    }
  }
}

// PAGEELEMENTS
/////////////////////////////////////////
a {
  color: normal-color($bodycopy-link-colors);
  text-decoration: none;

  transition: color 0.1s ease-in-out;

  &:hover {
    color: hover-color($bodycopy-link-colors);
    text-decoration: underline;
  }

  &:focus {
    @extend %elementfocus;
  }
}

body ul {
  margin: 0 0 1em 0;
  li > ul {
    margin: 0 0 0 1em;
  }
}

ol {
  counter-reset: olcounter;
  list-style-position: inside;
  margin: 0 0 1em 0;
  padding: 0;

  li {
    list-style-type: none;

    &:before {
      @extend %fonticon;

      content: counter(olcounter) '.';
      counter-increment: olcounter;
      font-family: $default-font;
      font-size: $default-font-size;
      padding: 0 4px;
    }

    > ol {
      margin: 0 0 0 1em;
    }
  }
}

.fairtrade-logo {
  position: absolute;
  right: -80px;
  top: 80px;
  z-index: 20;

  img {
    width: 200px;
  }
}

.content .body table {
  min-width: 475px;
  border: 0;
  tr {
    border-bottom: solid 1px $lochmara;
    td {
      padding: 4px;
      border: 0;
    }
  }

}
