/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  background: #c4d0df;
  border-left: solid 1px #acb4bf;
  border-right: solid 1px #acb4bf;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  #main {
    padding-top: 3em;
    /* Move all the children of #main down to make room. */
    position: relative;
  }

  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 16.66667%;
    margin-right: 8.33333%;
    margin-left: -25%;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 16.66667%;
    margin-right: 0%;
    margin-left: -16.66667%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -25%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 16.66667%;
    margin-right: 8.33333%;
    margin-left: -25%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
  }
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    clear: right;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 8.33333%;
    margin-left: -16.66667%;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -25%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .tabs-primary {
    display: none;
  }

  .sidebar-first #content {
    float: right;
    width: 83.33333%;
    margin-right: 16.66667%;
    margin-left: -100%;
    background: red;
  }
  .sidebar-first #content .page-wrapper {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    background: pink !important;
  }
  .sidebar-first #content .page-wrapper .page_content_wrapper {
    float: right;
    width: 91.66667%;
    margin-right: 0%;
    margin-left: -91.66667%;
    background: green !important;
  }
  .sidebar-first #content .page-wrapper .page_colofon_wrapper {
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    background: blue !important;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 16.66667%;
    margin-right: 0%;
    margin-left: -16.66667%;
    margin-top: -123px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 33.33333%;
    margin-left: -41.66667%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: right;
    width: 25%;
    margin-right: 8.33333%;
    margin-left: -33.33333%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
  }
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 8.33333%;
    margin-right: 33.33333%;
    margin-left: -41.66667%;
  }

  #header {
    height: 330px;
    background: rgba(30, 30, 30, 0.3);
    position: relative;
  }

  #name-and-slogan {
    width: 100%;
    position: absolute;
    bottom: 122px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
