/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */
.front #main #content {
  top: -82px;
  position: relative;
  text-align: center;
  position: relative;
  min-height: 480px;
  margin-bottom: -76px;
}

.jcarousel-skin-default {

}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 700px;
  /*  height: 480px;
    padding: 20px 0px;*/
  margin: auto;
  position: relative;
  /*top:-111px;*/
  border: solid 0px red;
}

/*.jcarousel-skin-default .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}*/

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 700px;
  /*overflow: hidden;*/
}

.jcarousel-skin-default {
  height: 480px;
  width: 720px;
  z-index: 100;
  overflow: hidden;
}

ul.jcarousel {
  padding: 0;
}

.jcarousel-skin-default li,
.jcarousel-skin-default .jcarousel-item {
  padding: 0;
  float: left;
  width: 220px;
  height: 480px;
  overflow: hidden;
  border: 0px solid #ff0000;
  list-style: none;
  background: #ffffff none;
  position: relative;
}

.jcarousel-skin-default .title,
.jcarousel-item .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
  padding: 10px 0 0 0;
  line-height: 24px;
  background-color: rgba(0, 0, 0, .3);
}

ul.jcarousel h1.title a:link,
ul.jcarousel h1.title a:visited,
ul.jcarousel h1.title a:hover
ul.jcarousel h1.title a:active {
  color: #ffffff;
}

.jcarousel-skin-default li,
.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 20px 0 0;
}

/*.jcarousel-skin-default .jcarousel-item-vertical {
  margin: 4px 0;
}
*/
.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #ffffff url(throbber.gif) no-repeat center center;
  color: #000000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(arrows.png);
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}

.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}

.jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}

/**
 * Vertical Buttons
 */
/*.jcarousel-skin-default .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-default .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

.jcarousel-skin-default .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-default .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}*/

.jcarousel-skin-default .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

