/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * links
 */
a,
a:link,
a:visited,
a:hover,
a:active{

}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}


#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 3.428em;
  line-height: 1.5em;
  padding-right:10px;
  background:url(./images/Logo-PKN.png) no-repeat 0px center;
  text-align: right;
}
#site-name a:link,
#site-name a:visited {
  color: #fff;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

#header img{max-width:960px;margin:0 0 0 -10px;}


/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}
.views-more-link,
.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Search
 */
#block-search-form{
  margin-left:10px
}
#block-search-form input[type='text']{
  width:auto;
}
/*
 * Footer
 */

#footer,
.footer{
	text-align:center;
  background-color: rgb(61, 85, 115);
  color:#c4d0df;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/*
 * Page display
 */
 .node-type-event #page-title,
 .node-type-page #page-title{display: none;}

.page_content_wrapper,
.page_colofon_wrapper{
  float:left;
  padding:10px 20px 20px;
}
.page_content_wrapper{
  background-color: #f0f3f7;
  width:420px;
  margin: 0 20px 0 10px;
  padding-bottom:120px;
}
.page_content_wrapper h1{
  margin:0;
}
.page_colofon_wrapper p{
  margin:0 0 0 0;
}

.page_colofon_wrapper{
  position: absolute;
  bottom:0;
  right:0;  width:180px;
}
.page_comment_wrapper{
  position:relative;
  top:-111px;
  float:left;
  background-color: #f0f3f7;
  width:660px;
  margin: 0 20px 20px 10px;
  padding:10px 20px 20px 20px;
}


/*thumbs*/
.page_content_wrapper .field-name-field-image{
  width:480px;
  position: absolute;
  bottom:0;
  left:10px;
  padding:0;
  margin:0;
  border:solid 0px red;
  line-height:0;
}
.page_content_wrapper .field-name-field-image .field-item{
  float:left;
  margin:0 20px 0 0;
 } 


/*.page-node #main #content,*/
.page-taakgroepen #main #content,
.page-agenda #main #content,
.page-bible #main #content,
.page-taxonomy-term #main #content{
  width:700px;
  position: relative;
  margin-top:-77px;
  left:20px;
  background: #f0f3f7;
  margin-bottom: 20px;
  min-height: 471px;
}

.page-wrapper{
 width:710px;
 position:relative;
 margin-top:-82px;
 background:url(images/bg_page.png) 10px 0 repeat-y;
 margin-bottom:20px;
 min-height: 471px;
 float:left;
}

.taakgroep_overzicht{

}
.taakgroep-overzicht p{
  margin:0;
}

.taakgroep-overzicht .views-row{
  margin:0 0 0.5em 0;
  width:680px;
  float:left;
}
.taakgroep-overzicht .views-row img{
  float:left;
  margin:10px 10px 0 0;
}
/*
 * Album display
 */
.node-type-fotoalbums #page-title{display: none;}

.album-wrapper{
  width:710px;
  float:left;
  position:relative;
  top:-121px;
  /*margin-bottom:370px;*/
 }
.album-wrapper .page_content_wrapper{
    width: 720px;
    /*height: 160px;*/
    padding-bottom:0;
    background: transparent;
    margin-left:0;
    padding-left: 10px;
    float:left;
 }
.album-wrapper #colofon{
  padding:10px 20px;
  float:left;
  background: #f0f3f7;
  width:300px;
  height:140px;
  border:solid 0px red;
  margin-right:20px;
} 
.album-wrapper .page_content_wrapper .field-name-field-image{
  width:100%;
  position: relative;
  bottom:0;
  left:0px;
  padding:0;
  margin:0;
  border:solid 0px red;
  line-height:0;
}
.album-wrapper .page_content_wrapper .field-name-field-image .field-item {
  position: relative;
  margin-bottom:20px; 
}
.album-wrapper .page_content_wrapper li h2{
  position: absolute;
  bottom: 0;
  background: rgba(240, 243, 247, .8);
  width:140px;
  padding: 0 10px;
}

/*
 * Promo block
 */
.promoblock{
  border:solid 1px red;
  width:700px;
}

/*
 * streamers
 */
 #streamers{
  position: relative;
  /*top:-111px;*/
  float:left;
  clear:both;
  border:solid 0px red;
  width:960px;
  padding:0; 
}
.streamer{
  padding-top:10px;
  float:left;
  margin-bottom: 20px;
  min-height:150px;
  width:470px;
  background: rgb(173,189,211);
}
.streamer h2.block-title{
  line-height: 1em;
  text-transform: uppercase;
  font-size:2em;
  padding-left:10px;
}

.streamer.left{
  margin-right:20px;  
}
.streamer.right{
  border:solid 0px red;
}
.streamer.bottom{
  color:rgb(255,255,255);
  background: rgb(137,161,192);
}
.streamer .col-1,
.streamer .col-2{
  width:320px;
  padding-left:10px;
}
.streamer table{
  margin:0;
}
.streamer table td{
  vertical-align: top;
  padding-bottom:10px;
}
.streamer p{margin:0;}

/*
 * webform
 */
.node-type-webform #page-title{display: none;}
.node-type-webform input[type='text'],
.node-type-webform input[type='email']{
  width: 100%;
}
.node-type-webform input,
.node-type-webform textarea{
    border:solid 1px #c4d0df;
    padding:0.3em;

}

.view-homepage{
  background-color: #f0f3f7;
  padding-bottom: 10px;
  margin-bottom:20px;
}

.view-homepage .views-field-title,
.view-homepage .views-field-body{
  padding:0 10px;
  text-align: left;
}
.view-homepage .views-field-body{
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #header img{display: none;}
  #streamers {
    width: auto;
  }
  .streamer{width:100%;margin:0;}
  #site-name {
    background-image:none;
    font-size:2em;
    text-align:left;
  }
  .front #main #content{
    top:auto!important;
  }
  #content{display: table-footer-group;}
  .sidebars{display: table-header-group;}
}