body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#3d5573;
}
h1,h2,h3,h4,h5,h6{
	text-transform:uppercase;
}
h2{	font-size: 14px;
	text-transform: none;
	margin:0;
}
/*
 * links
 */
h1 a:link,
h1 a:visited,
/*h1 a:hover,*/
h1 a:active{
	text-decoration:none;
}
h2 a:link,
h2 a:visited,
/*h2 a:hover,*/
h2 a:active{
	text-decoration:none;
	color:rgb(61, 85, 115);
}
a:hover,
h1 a:hover,
h2 a:hover{
	text-decoration:underline;
}

a,
a:link,
a:visited,
a:active{
  /*text-decoration:none;*/
  color:#4d688c;
}
.views-more-link,
.more-link { /* Aggregator, blog, and forum more link */
	font-style:italic;
}